.container
    display: flex

.content
    position: relative
    width: 100%

.header
    display: flex
    align-items: center

.menu
    display: flex

.authentication
    position: absolute
    top: 1.5rem
    right: 1.5rem
    display: flex
    flex-direction: row
    gap: 15px

.btn
    display: flex
    align-items: center
    font-family: inherit
    font-size: .975em
    border-radius: 6px
    padding: 7px 20px
    text-decoration: none
    cursor: pointer
    border: 1px solid rgba(245, 245, 247, 0.171)
    transition: all .2s ease

.btnCreateAcc
    background-color: #020817
    color: #f5f5f7f1

    &:hover
        background-color: #ffffff1a

.btnLogin
    background-color: #f5f5f7f1
    color: #020817

    &:hover
        background-color: #ffffffc7

.icon
    cursor: pointer
    border-radius: 4px
    padding: 3px 3px
    transition: all .2s ease

    &:hover
        background-color: #f9fafb56

.main
    display: flex
    justify-content: center
    padding-top: 10rem
    padding-left: 17rem
    width: 100%
    max-width: 48rem
    margin: auto
    flex-direction: column

.text
    width: 100%
    word-break: break-word
    padding: .25rem 1rem
    margin: .75rem 0
    background-color: transparent
    font-family: inherit
    color: #ffffff
    outline: none
    border: none

    &:empty::before
        content: attr(data-placeholder)
        color: #83828780
        pointer-events: none

.header_text
    font-size: 2.25rem
    min-height: 2.5rem
    line-height: 2.5rem
    font-weight: 700
    position: relative

.subheader_text
    font-size: 1.1rem
    line-height: 1.5rem

.checkbox_main
    display: flex
    align-items: center
    justify-content: center
    padding-left: .75rem
    font-size: 1.1rem

.checkbox_finish
    text-decoration: line-through
    color: gray

.addBlock_btn
    display: flex
    align-items: center
    margin-top: 2rem
    padding: .3rem .7rem
    height: 1.7rem
    width: 5.6rem
    border-radius: .3rem
    gap: .5rem
    cursor: pointer
    transition: 150ms ease

    &:hover
        background-color: #ffffff1a

.addBlock_text
    font-family: inherit
    font-weight: 600
    font-size: .875rem
    line-height: 1.25rem

.tvon
    position: fixed
    bottom: 20px
    right: 20px

