.content
    position: fixed
    display: flex
    flex-direction: column
    justify-content: space-between
    top: 0,
    left: 0,
    width: 16rem
    height: 100vh
    background: #182132
    color: #f1f5f9
    transform: translateX(-16rem)
    transition: transform .3s ease-in-out
    z-index: 1

    &.menuOpen
        transform: translateX(0)

.icon
    position: fixed
    cursor: pointer
    border-radius: 4px
    padding: 3px 3px
    left: calc(15rem - 1rem)
    left: 2rem
    top: 1.9rem
    transition: all .27s ease-in-out
    z-index: 1

    &.menuOpen
        left: 17rem

    &:hover
        background-color: #f9fafb31
