.btnNewPage
    display: flex
    align-items: center
    padding: .25rem
    border-radius: .3rem
    border: 1px solid rgba(245, 245, 247, 0.171)
    background-color: #02081759
    cursor: pointer

    &:hover
        background-color: #ffffff1a

.submain
    padding: 0 1rem

.pagesControl
    display: flex
    align-items: flex-start
    justify-content: space-between
    width: 100%

.title
    padding: .5rem
    font-size: .875rem
    color: rgb(156 163 175)

.items
    display: flex
    align-items: center
    width: 100%
    height: 2.5rem
    text-decoration: inherit
    font-weight: 600
    font-family: inherit
    padding: .5rem
    gap: 1rem
    cursor: pointer
    text-align: left
    font-size: .875rem
    line-height: 1.25rem
    color: #f1f5f9
    border: none
    border-radius: .3rem
    background-color: #ffffff00
    transition: all 0.1s ease

    &:hover
        background-color: #ffffff1a
