.container
    zoom: 120%  
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 355px

.content
    width: 100%
    display: flex
    flex-direction: column

.header
    position: relative
    width: 100%

.icon
    position: absolute
    top: -1.5rem
    left: -6.5rem
    cursor: pointer

.text
    display: flex
    flex-direction: column
    align-items: center
    gap: 10px
    padding: 25px

.text_header
    letter-spacing: -0.025em
    line-height: 2rem
    font-size: 1.5rem
    font-weight: 600

.text_info
    display: flex
    text-align: center
    line-height: 1.25rem
    font-size: 0.8rem
    color: var(--secondary-text)

.main
    display: flex
    flex-direction: column
    padding: 0 24px 24px
    gap: 1rem

.under_text
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 10px
    padding: 30px 0px

.link
    font-size: .8rem
    color: #f5f5f7
    cursor: pointer

    &:visited
        color: inherit

    &:active
        color: #838287

.sign_up
    display: flex
    justify-content: center
    align-items: center
    gap: 5px
    padding: 7px 0px

    span
        color: #838287
        font-size: .875rem

    a
        font-size: 0.775em
        cursor: pointer
        text-decoration: underline
